<p>adresse works!</p>
<body>
    <h1>Formulaire d'inscription</h1>

    <form [formGroup]="profileForme" >
        <div>
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" placeholder="François" autofocus required />
        </div>

        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" id="name" name="name" placeholder="Dupond" required />
        </div>

        <div class="form-group">
            <label for="adress">Adresse</label>
            <input type="text" id="adress" name="adress" placeholder="25 rue principale" required />
        </div>

        <div class="form-group">
            <label for="cp">Code postal</label>
            <input type="text" id="cp" name="cp" placeholder="68000" max="[0-9]{5}" required />

        </div>

        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" id="city" name="city" placeholder="Colmar" required />
        </div>

        <div class="form-group">
            <label for="country">Pays</label>
            <input type="text" id="country" name="country" placeholder="France" required />
        </div>

        <div class="form-group">
            <label for="phone">Téléphone</label>
            <input type="phone" id="phone" name="phone" placeholder="06XXXXXXXX" pattern="[0-9]{10}" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="name@example.com" required />
        </div>

        <div class="form-group">
            <label for="civility">Civilité</label>
            <input type="text" id="civility" name="civility" placeholder="MR,MME,..." required />
        </div>

        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" placeholder="troglo"  required />
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" required />
        </div>

        <!-- <div class="form-group">
            <label for="confirmpassword">Mot de passe</label>
            <input type="confirmpassword" id="confirmpassword" name="confirmpassword" placeholder="Confirmez le mot de passe" required />
        </div> -->

        <button type="submit" class="btn btn-primary">Valider</button>

        
    </form>